* {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  background-color: #F55A5A;
  padding: 20px 0;
  text-align: center;
}

.icon {
  vertical-align: middle;
  width: 24px;
}

.title {
  vertical-align: middle;
  color: white;
  font-size: 14.46px;
  margin-left: 7px;
}